node_modules
.env
.idea
out
tests_out
benchmarks_out
bin/*.exe
.vs
config.yaml
/navMeshDump.obj
*.tsbuildinfo
__pycache__/
/data/2016/collision/
/data/2016/zoneData/heightmap.png
/plugins/*-config.yaml
